.idea
venv
pipeoptz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
ENV/
pip-wheel-metadata/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Flask & other logs
instance/
.webassets-cache
*.log

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Matplotlib plots
*.png

# Local config
.env
.env.*

# pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrightconfig.json
